#pad{
    margin: 10%;
}
/* #btn1{
    border-radius: 100%;
    width: 3.2vw;
    height: 3.2vw; 
} */
.padBtn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 6%;
    column-gap: 6%;
    border-width: 2%;
    border-radius: 5%;
    padding: 3%;
    height:45vw;
    width: 50vh;
    margin-left: 5vh;
    background-color: black;
}
body{
    background-color: rgba(254, 231, 128, 0.759);
}
#verIntento{
    border-width: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: red solid;
    margin-top: 10vh;
    height: 12vw;
    width: 50vh;
    position: relative;
    margin-left: 5vh;

}
.botonClick{
    height: 100%;
    width: 100%;
    font-size: 4vw;
    border: none;
    color: black;
    background: rgb(0,100,0);
    background: radial-gradient(circle, rgba(255, 255, 255, 20) 15%, rgb(27, 29, 25) 56%);
}
#chance1, #chance2, #chance3, #chance4, #chance5, #chance6, #chance7, #chance8, #chance9, #chance0{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: blue solid;
    height: 3vw;
    width: 20vh;
    position: relative;
    
    margin-top: 0.5vh;
}
.resultados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 35vh;
    border: black solid;
    margin-top: 60vh;
}